node_modules
.cache/
.idea
.vscode
public/
.DS_Store
yarn*
*.log
contentful-import-error-log*
.contentful.json
/node_modules
.env*
# Serverless directories
/serverlessFiles/.env.*
/serverlessFiles/.serverless
/serverlessFiles/.webpack
# Keys
**dev.js
